@import url('https://fonts.cdnfonts.com/css/hello-bonia-serif');
      
*{
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,p{
    color: whitesmoke;
}

body, html {
    height: 100%;
    scroll-snap-type: y mandatory;
  }

section{
    height: 100%;
    scroll-snap-align: start;
}

#Accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#5E0009,#720137);


    h1{
        font-family: 'Hello Bonia Serif', sans-serif;
        font-size: 8vw;
        text-shadow: 0 0 5px #a81ea1, 0 0 10px #a81ea1, 0 0 20px #a81ea1, 0 0 40px #a81ea1, 0 0 80px #a81ea1;
        animation: glow 1.5s infinite alternate;
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #a81ea1, 0 0 10px #a81ea1, 0 0 20px #a81ea1, 0 0 40px #a81ea1, 0 0 80px #a81ea1;
    }
    100% {
        text-shadow: 0 0 10px #df0131, 0 0 20px #df0131, 0 0 40px #df0131, 0 0 80px #df0131, 0 0 160px #df0131;
    }
}

#aPropos{
    background: linear-gradient(#720137,#590054);
    padding-left: 2vw;

    h1{
        font-family: 'Hello Bonia Serif', sans-serif;
        font-size: 4vw;
        margin-left: 5vw;
        padding-top: 3vw;
    }

    img{
        max-width: 30%;
        height: auto;
        border-radius: 50%;
        margin: 2vw;
        box-shadow: 2px 10px 12px black;
    }

    #presentation{
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            font-size: 2vw;
        }
    }

    #cosplay{
        color: white;
        text-shadow: 0 0 5px #a81ea1, 0 0 10px #a81ea1, 0 0 20px #a81ea1, 0 0 40px #a81ea1, 0 0 80px #a81ea1;
        animation: glow 1.5s infinite alternate;

    }

    button{
        background: #85157f;
        margin: 50px;
        width: 30%;
        font-size: 2vw;
        border-radius: 12px;
        border-color: #590054;
        font-family: 'Hello Bonia Serif', sans-serif;

        a{
            text-decoration: none !important;
            color: white;
        }
    }

}


#projets{
    background: linear-gradient(#590054,#42002E) ;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        text-decoration: none;
    }

    .card-list {
        .card-item{
            list-style: none;

            .carte{
                background: #a81ea1;
                user-select: none;
                display: block;
                padding: 18px;
                border-radius: 12px;
                box-shadow: 2px 10px 12px black;

                .card-button{
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    margin: 30px 0 5px;
                    background-color: #96178f;
                    cursor: pointer;
                    border: 2px solid #590054;
                    transform: rotate(-45deg);
                }
            }
        }

        .carte{ 
            .card-image{
                width: 100%;
                aspect-ratio: 16 / 9;
                object-fit: contain;
                border-radius: 10px;
            }

            .detail h2 {
                margin: 16px 0 18px;
                padding: 8px 16px;
            }
        }
    }

}


#contact{
	background: linear-gradient(#42002E,#5E0009);;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	font-size:2vw;
}

.footer-basic {
  padding:40px 0;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:white;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  color:white;
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:4vw;
  width:4vw;
  height:4vw;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}
